<div>
  <h1>Users</h1>
  <% for(let user of users) {%>
  <h2>Name: <%= user.firstname %> <%= user.lastname %></h2>
  <h3>Age: <%= user.age %></h3>
  <h3>Gender: <%= user.gender %></h3>
  <h3>D.O.B. <%= user.dob%></h3>
  <% } %>
</div>
